@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/azsk-logo.png" class="img-fluid" alt="AzSK Logo" width="150" />
    <h1 class="display-4">Secure DevOps Kit for Azure</h1>
    <p>Welcome to the AzSK Sample application. Learn more about Secure DevOps Kit for Azure from the <a href="https://azsk.azurewebsites.net/README.html">Offcial Documentation</a>.</p>
</div>
